/* To-do */
/*  → Create general styling of the page with " * " selector and basic html and css variables
    → Build general display with grid and flex
    → Paint and style background and letters
    → apply media queries if necessary
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* basic styling */

:root {
    --main-color: #ad7ffb;
    --secondary-color: #92b2fd;
    --tertiary-text-color: #f9fafe;
    --additional-color-1: #f594b7;
    --additional-color-2:#ccd0f6;
    --platzi-color: #98ca3f;
    --subtitles-size: 2.8rem;
    --buttons-font-size: 1.6rem;
    --button-font-weight: 600;
}
/* creating variables */

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
/* setting up html font sizing and font-family*/

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* implementing flexbox and grid extensively */


/* =================== Header styles =================== */
.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding-block: 2rem;
    background-color: white;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    border-bottom: 0.1rem solid var(--platzi-color);
}

.top h3 {
    color: var(--main-color);
}

.top h3 a {
    text-decoration: none;
    color: var(--platzi-color);
}

/* =================== Random pics section styles =================== */

        /* ========== Buttons bar section ========== */
.buttons-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding-block: 3rem;
    width: 100%;
    background-color: var(--tertiary-text-color);
}

.buttons-section h2 {
    width: 100%;
    font-size: var(--subtitles-size);
    padding-block-end: 1.6rem;
    border-block-end: 0.1rem solid var(--additional-color-1);
    color: var(--secondary-color);
    padding-left: 4rem;
}

.buttons-section .buttons-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttons-bar button {
    padding: 1.2rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    background-color: var(--main-color);
    color: var(--tertiary-text-color);
    font-weight: var(--button-font-weight);
    font-size: var(--buttons-font-size);
    text-align: center;
}


.buttons-bar button:hover {
    cursor: pointer;
}

        /* ========== Random pics section ========== */

.product-error {
    font-size: 2rem;
    text-align: center;
}

.images-section {
    width: 100%;
    padding: 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    justify-items: stretch;
    align-content: center;
    align-items: center;
}

.images-section .img {
    width: 100%;
    border-radius: 1rem;
}

.images-section .newImg0 {
    grid-column-start: 1;
    grid-column-end: 3;
}
/*  =================== Favorites section styles =================== */

.favorites-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2.8rem;
    width: 100%;
    background-color: var(--tertiary-text-color);
    border-block-end: 0.1px solid var(--additional-color-1);
}

.favorites-section h2 {
    color: var(--main-color);
    padding-block-end: 1.6rem;
    padding-left: 4rem;
    border-block-end: 0.1rem solid var(--platzi-color);
    font-size: var(--subtitles-size);
}

.favorites-section .favorite-imgs {
    width: 100%;
    padding: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    justify-items: stretch;
    align-content: center;
    align-items: center;
}

.favorites-section button {
    text-align: center;
    border: none;
    outline: none;
    width: max-content;
    margin-inline-start: 4rem;
    padding: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--tertiary-text-color);
    border-radius: 2rem;
    font-size: var(--buttons-font-size);
    font-weight: var(--button-font-weight);
}

.favorites-section button:hover {
    cursor: pointer;
}

/*  =================== footer styles =================== */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: var(--tertiary-text-color);
    background-color: var(--secondary-color);
}

footer a {
    text-decoration: none;
    color: var(--tertiary-text-color);
}